@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: MS Sans Serif;
}
*{ font-family: MS Sans Serif}
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Handlee);
body {
	background: #eedfcc;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	font-size:15px;
}
.container > header h1,
.container > header h2 {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
.table_main
	{
		width:1000px;
		margin:0 auto; /*จัดให้อยู่ตรงกลาง (แต่ต้องบอกขนาดก่อน)*/ 
		margin-top:10px;
		vertical-align:top;
	
	}
.menu_center
	{
		text-align:center;
	}
.menu_right
	{
		text-align:right;
	}
.menu_left
	{
		text-align:left;
	}

img
	{
		border:none;
	}
.broder_set
	{
		border-width:1px;
		border-style:solid;
		border-color:#A6C9E2;
		border-radius: .625em; /*กำหนดความโค้ง จะเป็น px ก็ได้นะ*/
		-moz-border-radius: .625em; /*สำหรับ firefox*/
		-webkit-border-radius: .625em; /*สำหรับ browser อื่นๆ*/
		margin:0 auto 0 auto; /*สำหรับ ทำให้อยู่ตรงกลาง*/
		
	}

.link_manu
	{
				
				font-size:16px;
				
	}
.link_manu a:link {
	color:#00F;
	text-decoration: none;
}
.link_manu a:visited {
	text-decoration: none;
	color:#00F;
}
.link_manu a:hover {
	text-decoration: none;
	color: #999;
}
.link_manu a:active {
	text-decoration: none;
	color: #FFF;
}
.block_show
	{
		font-size:14px;
		line-height:2em;
	}
	
.shadow
{
	 box-shadow: 0 0 5px #000000;
	-moz-box-shadow: 0 0 5px #000000;
	-webkit-box-shadow: 0 0 5px #000000;
	padding:10px;
	margin:10px 5px 10px 5px; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.font_table
	{
		/*font-family:Arial, Helvetica, sans-serif;*/
		font-size:17px;
		
	}
.label_h
	{
		font-weight:bold;
	}
.divright
{
float:right;
}
 
.divleft
{
float:left;
}
.color_text
	{
		text-align:center;
		font-weight:bold;
		color:#FFF;
	}
input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.5);

  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
}
input[type=radio] {
  /* All browsers except webkit*/
  transform: scale(1.5);

  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
}
.mini_block{
    margin: 60px auto 30px;
    padding: 15px;
	color: white;
    position: relative;
    background: #72afd4;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);
}
.large_block{
    margin: 10px auto 30px;
    padding: 15px;
    position: relative;
    background: #c7e5ff;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);
}
.input_login[type=text],
.input_login[type=password] {
    /* Size and position */
    width: 73%;
    height: 50px;
    padding: 0 10px;

    /* Styles */
    border: none; /* Remove the default border */
    background: white; /* Fallback */
    background: rgba(255,255,255,0.2);
    box-shadow: 
        inset 0 0 10px rgba(255,255,255,0.5);

    /* Font styles */
    font-family: MS Sans Serif;
    text-indent: 10px;
    color: #ee4c8d;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    font-size: 25px;       
}

.input_login[type=text] {
    border-bottom: 1px solid #fff; /* Fallback */
    border-bottom: 1px solid rgba(255,255,255,0.7);
    border-radius: 5px;
}

.input_login[type=password] {
    border-top: 1px solid #CCC; /* Fallback */
    border-top: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}

.input_login[type=text]:hover,
.input_login[type=password]:hover,
.input_login[type=text]:focus,
.input_login[type=password]:focus {
    background: #f7def7; /* Fallback */
    background: rgba(255,255,255,0.4);
    outline: none;
}

/* Placeholder style (from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css) */

.input_login::-webkit-input-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: MS Sans Serif;
}

.input_login:-moz-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: MS Sans Serif;
}

.input_login:-ms-input-placeholder {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: MS Sans Serif;
}

.bt_sumit_login {
    /* Size and position */
    width: 80%;
    height: 60px;
    float: left;
    position: relative;
    overflow: hidden;

    /* Styles */
    background: #ee4c8d;
    background: url(../images/noise.png), -moz-radial-gradient(center, ellipse cover, #ee4c8d 0%, #b53467 100%);
    background: url(../images/noise.png), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ee4c8d), color-stop(100%,#b53467));
    background: url(../images/noise.png), -webkit-radial-gradient(center, ellipse cover, #ee4c8d 0%,#b53467 100%);
    background: url(../images/noise.png), -o-radial-gradient(center, ellipse cover, #ee4c8d 0%,#b53467 100%);
    background: url(../images/noise.png), -ms-radial-gradient(center, ellipse cover, #ee4c8d 0%,#b53467 100%);
    background: url(../images/noise.png), radial-gradient(ellipse at center, #ee4c8d 0%,#b53467 100%);

    border-radius: 5px;
    box-shadow:
        inset 0 0 4px rgba(255, 255, 255, 0.7), 
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    border: none;
    border-left: 1px solid silver;
    cursor: pointer;  
    line-height: 60px; /* Same as height */
}

.bt_sumit_login i {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -20px;
    font-size: 40px;
    line-height: 60px;
    color: #8d1645;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.bt_sumit_login span {

    /* Font styles */ 
    color: #8d1645;
    font-family: MS Sans Serif; 
    font-size: 20px;
	font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-backface-visibility: hidden;
}

/* Focus and hover on button */

.bt_sumit_login:focus {
    outline: none;
}

.bt_sumit_login:hover span,
.bt_sumit_login:focus span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: rotate(-90deg) translateY(-20px);
    -moz-transform: rotate(-90deg) translateY(-20px);
    -ms-transform: rotate(-90deg) translateY(-20px);
    -o-transform: rotate(-90deg) translateY(-20px);
    transform: rotate(-90deg) translateY(-20px);
}

.bt_sumit_login:hover i,
.bt_sumit_login:focus i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    left: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/* Click on button */

.bt_sumit_login:active span,
.bt_sumit_login:active i {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; 
}

.bt_sumit_login:active span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.bt_sumit_login:active i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    left: 0;
    color: #fff;
}